---------------------------------------------------------------------------------------<br/>
<strong>TRIPFORYOU</strong><br/>
---------------------------------------------------------------------------------------<br/>
Nous avons bien reçu votre requ&ecirc;te nous demandant de vous aider &agrave; retrouver votre <br/>
mot de passe TripForYou. Vous trouverez ci-dessous les informations que nous poss&eacute;dons &agrave; <br/>
ce sujet. Si vous n'avez pas soumis cette requ&ecirc;te, veuillez ignorer cet e-mail. <br/>
<br/>
L'adresse e-mail que vous avez enregistr&eacute;e lors de votre inscription est : {{email}}<br/>
<br/>
Si vous avez oubli&eacute; votre mot de passe, vous pouvez le reg&eacute;n&eacute;rer &agrave; partir de cette page :<br/>
http://www.tripforyou.com/regeneration/{{guid}}.<br/>
<br/>
Merci d'utiliser TripForYou !<br/>
---------------------------------------------------------------------------------------<br/>
&copy; TripForYou 2014<br/>